%h2
  %em.fa.fa-exclamation-triangle
  =t '.title'

= form_tag moderation_path(@moderation), method: :delete do |f|
  .field.closer(title="#{t '.reason_r_1_long'}")
    = radio_button_tag :reason, :r_1, params[:event] == 'reason_r_1'
    = label_tag :reason_r_1, t('.reason_r_1')

  .field.closer(title="#{t '.reason_r_2_long'}")
    = radio_button_tag :reason, :r_2, params[:event] == 'reason_r_2'
    = label_tag :reason_r_2, t('.reason_r_2')

  .field.closer(title="#{t '.reason_r_3_long'}")
    = radio_button_tag :reason, :r_3, params[:event] == 'reason_r_3'
    = label_tag :reason_r_3, t('.reason_r_3')

  .field.opener(title="#{t '.reason_r_4_long'}")
    = radio_button_tag :reason, :r_4, params[:event] == 'reason_r_4' || !params[:event]
    = label_tag :reason_r_4, t('.reason_r_4')

  .field
    = label_tag :reason_text, t('.reason')
    = text_area_tag :reason_text, nil, cols: 40, rows: 5

  = link_to moderations_path do
    %em.fa.fa-arrow-left
    =t '.ko'

  = button_tag do
    %em.fa.fa-thumbs-down
    =t '.ok'

%fieldset
  %legend
    %em.fa.fa-calendar
    = Event.model_name.human
  = render file: '/events/show'
