%h2
  - if params[:envoiParMail]
    %em.fa.fa-bullhorn
  - else
    %em.fa.fa-paperclip
  =t '.title'

%fieldset
  %legend=t '.title'
  = render 'form'

%fieldset
  %legend=t '.event'
  = render file: '/events/show'
