= form_for @orga do |f|
  - if @orga.persisted?
    = hidden_field_tag :secret, params[:secret]

  - if @orga.errors.any?
    #flash_messages
      - @orga.errors.full_messages.each do |msg|
        %p.flash.alert= msg

  .field.kind
    = f.label :kind
    %span.radios
      - Kind.all.each do |kind|
        = f.radio_button :kind_id, kind.id
        = f.label "kind_id_#{kind.id}" do
          %em.fa{ class: "fa-#{kind.icon}" }
          = Kind.human_attribute_name "name_#{kind.name}"
  .field.name
    = f.label :name
    = f.text_field :name, required: true
  .field.city
    = f.label :city
    = f.text_field :city, list: :cities
    %datalist#cities
      - Event.group(:city).order('count(city) desc').pluck(:city).each do |city|
        %option= city
  .field.department
    = f.label :department
    = f.text_field :department
  .field.region
    = f.label :region
    = f.collection_select :region_id, Region.all, :id, :name

  .field.url
    .helper
      :markdown
        #{t '.url_helper'}
    = f.label :url
    = f.url_field :url, placeholder: 'Ex: http://april.org'
  .field.feed
    .helper
      :markdown
        #{t '.feed_helper'}
    = f.label :feed
    = f.url_field :feed, placeholder: 'Ex: http://april.org/index.rss'
  .field.contact
    .helper
      :markdown
        #{t '.contact_helper'}
    = f.label :contact
    = f.email_field :contact
  .field.submitter
    .helper
      :markdown
        #{t '.submitter_helper'}
    = f.label :submitter
    = f.email_field :submitter

  .actions
    = f.button do
      %em.fa.fa-check
      = t '.save'
