=====================================================
#{Orga.human_attribute_name(:kind).concat(':').ljust 12       } #{@orga.kind.name}
#{Orga.human_attribute_name(:name).concat(':').ljust 12       } #{@orga.name}
#{Orga.human_attribute_name(:region).concat(':').ljust 12     } #{@orga.region}
#{Orga.human_attribute_name(:url).concat(':').ljust 12        } #{@orga.url}
#{Orga.human_attribute_name(:feed).concat(':').ljust 12       } #{@orga.feed}
#{Orga.human_attribute_name(:contact).concat(':').ljust 12    } #{@orga.contact}
#{Orga.human_attribute_name(:submitter).concat(':').ljust 12  } #{@orga.submitter}
=====================================================
