%h2
  %em.fa.fa-exclamation-triangle
  = t '.title'

= form_for @orga, url: { action: :accept }, html: { method: :put } do |f|
  = link_to moderations_path do
    %em.fa.fa-arrow-left
    = t '.ko'

  = f.button do
    %em.fa.fa-thumbs-up
    = t '.ok'

%fieldset
  %legend
    %em.fa.fa-calendar
    = Orga.model_name.human
  = render file: '/orgas/show'
