%h2
  %em.fa.fa-map-marker
  =title t '.title'

#map.events(data-url="#{maps_path format: :json}")

%nav
  = link_to events_path format: :rss, tag: params[:tag] do
    %em.fa.fa-rss
    RSS
  \/
  = link_to events_path format: :ics, tag: params[:tag] do
    %em.fa.fa-th-list
    iCal
  \/
  = link_to maps_path format: :json, tag: params[:tag] do
    %em.fa.fa-dot-circle-o
    GeoJSON
