= t '.body', subject: @note.event.title, contents: @note.contents
\
= sanitize @note.contents.html_safe,
  tags: %w(p br table tr td ul ol li a strong b em i img),
  attributes: %w(href src width height)
\
= t '.edit_link'
\
= edit_event_url @note.event, secret: @note.event.secret
\
= t '.signature'
