%h2
  %em.fa.fa-trash-o
  = t '.title'

- if @event.moderated?
  %h3.warning= t '.already_moderated'

%fieldset
  = form_for @event, method: :delete do |f|
    = hidden_field_tag :secret, params[:secret]
    %h2= t '.confirm'

    = f.submit t('.ok'), name: :yes
    = link_to t('.ko'), @event, class: :button

%fieldset
  %legend= Event.model_name.human
  = render file: '/events/show'
