= t '.body', subject: @event.title, author: @current_user || t('.submitter')

:ruby
  new = render file: '/events/show'

  former = @event
  @event = @event.versions.last.reify

  prev = render file: '/events/show'
  @event = former

  require 'differ/format/patch'
  Differ.format = Differ::Format::Patch
= Differ.diff new, prev
\
- if @current_user
  = edit_moderation_url @event
- else
  = edit_event_url @event, secret: @event.secret
\
= t '.signature'
