= t '.body', moderator: @current_user
= event_url @event
\
= t '.edit_link'
= edit_event_url @event, secret: @event.secret
\
= t '.delete_link'
= cancel_event_url @event, secret: @event.secret
\
= render file: '/events/show'
\
= t '.signature'
