@import compass
@import font-awesome-sprockets
@import font-awesome

.events form, .moderations form, .orgas form, .digests form
  .field, .actions
    max-width: 70em
    text-align: left
    margin-left: auto
    margin-right: auto
    .helper p
      color: gray
      margin: 0
      font-style: italic
      margin-left: 8em
      padding-left: 0.4em
    label
      width: 8em
      +inline-block()
    input, select, .select2-container ul
      +border-top-left-radius(0)
      +border-bottom-left-radius(0)
    input[type=radio] + label
      width: 20em
      &:after
        content: ''

    input[type=text], input[type=url], input[type=email],
    .select2-container, .select2-container ul, .mce-tinymce
      min-width: 22em

    .mce-tinymce
      font-size: inherit
      font-family: inherit
      +inline-block()
      +border-radius(0.4em)
      +border-top-left-radius(0)
      +border-bottom-left-radius(0)
      .mce-container-body
        .mce-panel.mce-first
          +border-top-right-radius(0.4em)
        .mce-panel.mce-last
          +border-bottom-right-radius(0.4em)

  .field label:before
    color: gray
    margin-right: 0.4em
    +fa-icon()
  .field.title label:before
    content: $fa-var-newspaper-o
  .field.start_time label:before
    content: $fa-var-toggle-on
  .field.end_time label:before
    content: $fa-var-toggle-off
  .field.description label:before
    content: $fa-var-pencil-square-o
  .field.place_name label:before
    content: $fa-var-flag
  .field.address label:before
    content: $fa-var-map-marker
  .field.city label:before
    content: $fa-var-compress
  .field.region label:before
    content: $fa-var-shield
  .field.locality > label:before
    content: $fa-var-expand
  .field.contact label:before
    content: $fa-var-envelope
  .field.submitter label:before
    content: $fa-var-envelope-o
  .field.url label:before
    content: $fa-var-external-link
  .field.tags label:before
    content: $fa-var-tags

  .field.kind > label:before
    content: $fa-var-cubes
  .field.feed label:before
    content: $fa-var-rss

  .field .radios label
    width: auto !important
    margin-right: 1em

  [type=radio]
    display: none
  [type=radio] + label:before
    color: black
    content: $fa-var-circle-o
    font-size: larger
  [type=radio]:checked + label:before
    color: black
    content: $fa-var-dot-circle-o
    +text-shadow(0 0 1px gray)

  .actions
    text-align: center
    input
      font-size: x-large
