@import compass

.quantity
  text-align: right
  white-space: nowrap

table
  margin: 1em auto
  border-spacing: 2px
  th
    padding: 0.3em 0.6em

  &.list
    tbody
      tr:nth-child(odd)
        background-color: #D1EAFF
      tr:nth-child(even)
        background-color: #C9E2F5
    th
      font-size: larger
    td
      padding: 0.2em

dl
  margin: 1em auto
  max-width: 40em
  dt
    clear: left
    float: left
    padding: 0.2em 1em
    min-width: 50%
    text-align: right
  dd
    padding: 0.2em 1em
    text-align: left
    &.quantity
      padding-right: 16em
    h3
      display: inline
  dt + dd + dt +dd
    border-top: 1px solid #999

.view_link:link, .edit_link:link, .delete_link:link
  font-size: 0
  font-weight: normal
  text-decoration: none
  &:hover
    +text-shadow(2px 2px 1px lightblue)
  &:before
    padding: 0.5em
    font-size: 20px
    font-family: FontAwesome
.view_link:link:before
  content: ''
.edit_link:link:before
  content: ''
.delete_link:link:before
  content: ''
