@import compass
@import leaflet
@import leaflet.markercluster
@import leaflet.markercluster.default

#map
  height: 60em
  +box-shadow(0 0 1em SteelBlue)
  +transition(none)
  *
    /* Popup are better displayed with this: */
    max-width: initial

  &.event
    height: 20em

.tags #map
  width: 40%
  height: 60em
  margin: 1.6em 2%
  +inline-block()

html.iframe #map
  width: 100%
  max-width: 100%
  +box-shadow(none)
