!!! 5
/[if IE]
%html.iframe.no-js(lang="#{I18n.locale}")
  %head
    = display_meta_tags site: t('.title')

    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='robots' content='index, follow')

    = favicon_link_tag '/favicon.ico'
    = auto_discovery_link_tag :rss, { controller: '/events', format: :rss }

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body(class="#{controller.controller_name} #{controller.action_name}")
    = render 'layouts/flash', flash: flash if flash.present?

    %main= yield

    %em#loading.fa.fa-spin.fa-circle-o-notch
